<!DOCTYPE html>
<html>
<head>
	<title>v-for</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="style_6.css">
</head>
<body>
	<div id="myapp6">
		<ul>
			<li v-for="x in characters">{{x}}</li>
		</ul>

		<ul>
			<li v-for="(site,index) in sites">{{index+1}}-{{site.name}}</li>
		</ul>

		<template v-for="(site,index) in sites">
			<span>{{index+1}}-{{site.name}} </span>
		</template>
		
		<template v-for="(x,index) in sites">
			<div v-for="(val,key) in x">
				<p>{{key}}-{{val}} </p>
			</div>
		</template>
	</div>
	<script type="text/javascript" src="app_6.js"></script>
</body>
</html>