<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>事件测试</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="myapp">
    	<p>鼠标事件</p>
    	<!-- <button @click="add(1)">加一岁</button> -->
    	<!-- once的使用 -->
    	<button @click.once="add(1)">加一岁</button>
        <button @click="substact(1)">减一岁</button>
        <button v-on:dblclick="add(10)">加十岁</button>
        <button v-on:dblclick="substact(10)">减十岁</button>
        <p>this is my {{age}}</p>
        <div id="canvas" v-on:mousemove="updateXY">
        	{{x}},{{y}}-
        	<!-- <span v-on:mousemove="stopMoving">stop Moving</span> -->
        	<span v-on:mousemove.stop="">stop Moving</span>
        </div>
        <a v-on:click.prevent="alert" href="https://www.baidu.com">无法跳转</a>
        <p>键盘事件</p>
        <label for="input1">姓名：</label>
        <input type="text" v-on:keyup="logName" id="input1">
        <label for="input2">年龄：</label>
        <input type="text" v-on:keyup.enter="logAge" id="input2">
        <p>双向数据绑定</p>
        <input type="text" v-model="name">
        <p>{{name}}</p>
        <input type="text" v-model="sex">
        <p>{{sex}}</p>
    </div>

    <script src="app_2.js"></script>
</body>
</html>