/*顶部*/
.top{
    width: 100%;
    height: 66px;
    background: #282828;
    position: fixed;
    z-index: 999;
}
.top .top_in{
    width: 1200px;
    height: 66px;
    margin: 0 auto;
}
.top .top_left{
    width: 190px;
    height: 100%;
    float: left;
}
.top_left>h1{
    width: 100%;
    height: 100%;
}
.top_left>h1>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/logo.png") no-repeat left center;
    background-size: 140px 50px;
}
.top .top_right{
    width: 940px;
    height: 100%;
    float: right;
}
.top .top_nav{
    width: 700px;
    height: 100%;
    float: left;
}
.top .top_nav li{
    float: left;
}
.top .top_nav li>a{
    font-size: 14px;
    font-family: "宋体";
    font-weight: lighter;
    color: #fff;
    line-height: 66px;
    margin-left: 35px;
}
.top .top_nav li>a:hover{
    color:#666;
}
.top .top_login_in{
    width: 200px;
    height: 100%;
    float: right;
}
.top .top_login_in ul{
    width: 100%;
    height: 100%;
}
.top .top_login_in ul li{
    width: 56px;
    height: 66px;
    line-height: 66px;
    float: left;
    margin-left: 30px;
}
.top .top_login_in li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 66px;
    text-align: center;
    color: #666;
 }
.top .top_login_in li a:hover{
    background: tomato;
}
.top .top_login_in li a img{
    width: 20px;
    height: 20px;
}
/*手机导航*/
.phone_nav{
    margin: 0 auto;
    width: 1200px;
    height: 150px;
    padding-top: 66px;
}
.phone_nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.phone_nav ul li{
    width: 150px;
    height: 100%;
    float: left;
    text-align: center;
}
.phone_nav ul li:hover p{
    color: #282828;
}
.phone_nav ul li:hover{
    border-bottom: tomato 2px solid;
    box-sizing: border-box;
}
.phone_nav ul li p{
    text-align: center ;
    color: #000;
}
.phone_nav ul li img{
    width: 120px;
}
/*广告*/
.banner{
    width: 100%;
    height: 560px;
    background: #4CAF50;
    position: relative;
}
.banner img{
    height: 100%;
    width: 100%;
}
.banner ol{
    width: 80px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: 10px;
}
.banner ol li{
    width: 10px;
    height: 10px;
    background: #ccc;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    transition: all 0.3s;
    box-sizing: border-box;
}
.banner ol li:hover{
    border:2px solid tomato;
    background: transparent;
    transform: scale(1.5,1.5);

}
/*内容*/
.content{
    margin-top: 5px;
    width: 100%;
    height: 294px;
}
.content ul {
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.content ul li{
    width: 33%;
    height: 100%;
    float: left;
    background: #000;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.content ul li:hover .video_info{
    opacity: 1;
}
.content ul li:hover>img{
     opacity: 0.5;
 }
.content ul li:hover .video_info img{
    animation: play 2s .5s ease-in-out infinite ;
}
@keyframes play {
    20%{transform: scale(.8)}
    40%{transform: scale(1.2)}
    60%{transform: scale(.9)}
    80%{transform: scale(1)}
    100%{transform: scale(1)}
}
.content .video_info{
    width: 100%;
    height: 155px;
    position: absolute;
    bottom: 0;
    opacity: 0;
}
.content .video_info img{
    width: 50px;
    height: 50px;
 }
.content .video_info h1{
    color:#fff;
    font-size: 20px;
    font-family: "微软雅黑";
}
.content ul li img{
    height: 100%;
    margin: 0 -100%;
}

.product{
    width: 100%;
    height: 1883px;
}
.product dl{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.product dl dt{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.product dl dt>h3{
    font-size: 35px;
    color:#333;
}
.product dl dt>p{
    margin-top: 20px;
    color:#183401;
}
.product .product_phone{
    width: 1200px;
    height: 1200px;
}
.product .product_phone li{
    float: left;
    position: relative;
    overflow: hidden;
    padding:20px;
    box-sizing: border-box;
    background: #fff;
}
.product .product_phone li>img{
    width: 100%;
    /*height: 100%;*/
    transition: all 1s;
}
.product .product_phone li:nth-child(1){
    width: 1200px;
    height: 395px;
    margin-bottom: 10px;
}
.product_phone .phone_des{
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 0;
    text-align: center;
}
.product_phone .phone_des h4{
    font-size: 20px;
    color: #000;
}
.product_phone .phone_des p{
    font-size: 15px;
    color: #666;
    margin-bottom: 10px;
}
.product_phone .phone_des span{
    display: inline-block;
    width: 108px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    color:#000
}
.product .product_phone li:nth-child(1) .phone_des{
    left:0;
    margin-left: 800px;
    bottom: 200px;
}
.product .product_phone li:nth-child(2) .phone_des{
    bottom:50px;
}
.product .product_phone li:nth-child(3) .phone_des{
    bottom:30px;
}
.product .product_phone li:nth-child(1) img{
    margin-left: -70px;
}
.product .product_phone li:nth-child(3) img{
    margin-left: 70px;
}
.product .product_phone li:nth-child(1):hover img{
    margin-left: 0;
}
.product .product_phone li:nth-child(3):hover img{
    margin-left: 0;
}
.product .product_phone li:nth-child(2){
    width: 395px;
    height: 795px;
    margin-right: 10px;
}
.product .product_phone li:nth-child(3){
    width: 795px;
    height: 390px;
    margin-bottom: 10px;
}
.product .product_phone li:nth-child(4){
    width: 390px;
    height: 395px;
    margin-right: 10px;
}
.product .product_phone li:nth-child(5){
    width: 395px;
    height: 395px;
}
.product .product_phone li:hover .img_scale{
    transform: scale(1.2,1.2);
}
.product .product_accessory{
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.product .product_accessory li{
    float: left;
    width: 295px;
    height: 300px;
    overflow: hidden;
    background: #fff;
}
.product .product_accessory li img{
    width: 100%;
    transition: all .5s;
}
.product .product_accessory li p{
    width: 295px;
    text-align: center;
    color: #000;
    margin-top: 30px;
}
.product .product_accessory li:hover img{
    transform: scale(1.2,1.2);
}
    /*服务*/
.server{
    width: 100%;
    height: 180px;
    background: #f4f3ef;
}
.server ul{
    width: 1200px;
    height: 100%;
    background: #f4f3ef;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.server ul li{
    width: 299px;
    height: 120px;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.server ul li img{
    width: 50px;
    height: 50px;
}
.server ul li p{
    display: inline-block;
    line-height: 50px;
    margin-left: 10px;
}
/*底部*/
.footer{
    width: 100%;
    height: 384px;
    background: #efeeeb;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.footer dl{
    font-size: 20px;
    font-weight: lighter;
}
.footer dt{
    font-weight: lighter;
    line-height: 24px;
}
.footer dl dd{
    font-size: 12px;
    line-height: 20px;
    font-weight: lighter;
}
.copyright{
    width: 100%;
    height: 220px;
    background: #fff;
}

.copyright .picture{
    width: 100%;
    height: 120px;
    text-align: center;
}
.picture div:nth-child(1) img{
    width: 100px;
    height: 100%;
}
.picture div:nth-child(2) img{
    margin-left: 10px;
    height: 30px;
}
.copyright .info {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    box-sizing: border-box;
}
.copyright .copyright_title{
    margin: 0 auto;
    text-align: center;
}
.copyright .permit{
    width: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright .permit p{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.copyright .permit p span{
    color: #bbb;
    font-weight: lighter;
}
.copyright .permit p img{
    width: 15px;
    height: 20px;
}
.copyright .info .copyright_title p{
    font-weight: lighter;
    display: inline;
}
.copyright .info .copyright_title a{
    display: inline-block;
    width: 70px;
    height: 20px;
    border-radius: 10px;
    background: #eee;
    text-align: center;
    line-height: 20px;
    color: #bbb;
    font-weight: lighter;
    transition: all .3s;
}
.copyright .info .copyright_title a:hover{
    color:#fff;
    background: #bbb;
}

