.header{
    /*background: none;*/
}
.header .header-top{
    display: none;
}
.header .header-bottom{
    display: none;
}
.main{
    margin-top: 0;
}
.header>.header-phone{
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.header>.header-phone a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.header>.header-phone>h1 a{
    font-size: 80px;
    text-decoration: none;
}
.main>.main-top>.first-nav{
    display: none;
}
.main>.main-top>div{
    top:15%;
    transform: none;
}
.main>.main-top>div>p{
    font-size: 20px;
    width: 300px;
}
.main>.main-top>.main-phone-nav{
    display: block;
    width: 300px;
    height: 200px;
    color: #fff;
}
.main-phone-nav h2{
    text-align: center;
    font-size: 35px;
 }
.main>.main-bottom>div{
    width: 100%;
}
.main>.main-bottom>div img{
    width: 100%;
    height: 100%;
}
.main>.main-top ul li:nth-child(1){
    display: none;
}
.main>.main-top ul li:nth-child(2){
    display: block;
}
.footer{
    margin-top: 20px;
}
.footer-in>.footer-top{
    border-bottom: none;
    padding: 10px 0;
}
.footer-top>.footer-top-left{
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.footer-top>.footer-top-right{
    width: 100%;
    border-bottom: 1px solid #ccc;
    float: none;
}
.footer-top>.footer-top-left{
    flex-wrap: wrap;
    padding: 0 10px;
    box-sizing: border-box;
}
.footer-top>.footer-top-left dd{
    display: none;
}
.footer-top>.footer-top-left dl{
    width: 100%;
}
.footer-top>.footer-top-left dt{
    font-size: 20px;
    color: #333;
    line-height: 30px;
    font-weight: 200;
}
.footer-top>.footer-top-left dt::after{
    content: '';
    float: right;
    width: 30px;
    height: 30px;
    background: url("./../images/add.png") center center no-repeat ;
    background-size: 18px 18px;
}

.footer-top>.footer-top-right>p:nth-child(1){
    float: left;
    line-height: 55px;
}
.footer-top>.footer-top-right>p{
    text-align: right;
}
.footer-bottom>p>span{
    float: right;
}
.footer-icon{
    display: inline-block;
    font-size: 16px;
    color: #333333;
}

.footer-icon>span>b{
    font-size: 24px;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
}

.footer-bottom>p{
    line-height: 25px;
}